/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
    box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img {
    display: block;
    margin: 0 auto;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
body {
    width: 80vw;
    margin: auto;
    font-size: 1.5rem;
    background: black;
    color: white;
}

#input, h1, h2{
    display: flex;
    text-transform: capitalize;
    justify-content: center;
}
span{
    text-transform: capitalize;
}
/*#movers {
    display: flex;
    justify-content: space-evenly;
}*/
