/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
body{
    width: 80vw;
    margin: auto;
    font-size: 1.5rem;
    background: black;
    color: white;

}

h1, h2, h3, p{
    text-align: center;
    padding: 1rem;
}

#info {
    /* display: none; */
}

#input {
    display: flex;
    justify-content: center;

}

img{
    height: 60vh;
}

#movers{
    display: flex;
    justify-content: space-evenly;

}

#movers button{
    width: 5.5vw;
    height: 5vh;
}